@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Reenie+Beanie&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Nunito:wght@200&family=Reenie+Beanie&family=Roboto:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/pecita');
@import url('http://fonts.cdnfonts.com/css/antic');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* login  */

.login{
    width: 673px;
    height: 600px;
    border-radius: 30px;
    background-color: #F5F5F5;
    margin: 100px auto;
    position: relative;
    
}

.login__title{
    position: absolute;
    top: 18%;
    left: 40%;
    font-family: Roboto;
    font-size: 48px;
    color:#0078E7
}

.login__form{
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:0;
}

.login__content{
    margin: 10px;

}

.login__email, .login__password{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #0078E7;
    font-family: Roboto;
    font-size: 19px;
    color: black;
}

.login__btn{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #0078E7;
    color: white;
    border: none;
    font-size: 33px;
}

/* end of login */


/* header */

.item1{
    grid-area: logo;
}

.item2{
    grid-area: menu;
}

.item3{
    grid-area: social;
}

.item4{
    grid-area: profile;
}

.header{
    display: grid;
    grid-template-areas: 'logo menu social' '. profile .';
    margin-top: 10px;

}

.header__logo{
    color: #0078E7;
    font-size: 30px;
    margin: 20px 0 0 80px;
    font-family: 'Pecita', sans-serif;

}


.header__list{
    list-style-type: none;
    background:#F5F5F5 ;
    display: flex;
    justify-content: center;
    position: relative;
}

.header__item{
    padding: 20px 40px;
    display: inline-block;
    font-size: 30px;
}

.header__item > a{
    text-decoration: none;
}

.header__item > a:visited{
    color: #0078E7;
}

.social{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 26px;
    font-size: 22px;

}

.social__link{
    font-family: -webkit-body;
    text-decoration: none;
    color: #0078E7;
}

.social__link > img{
    width: 35px;
    height: 35px;
    margin: 24px 10px;

}

/* end of header */


/* profile */

.profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 50px;
}

.profile__title{
    font-size: 25px;
    font-family: 'Pecita', sans-serif;                                            
    font-weight: 600;
    padding: 10px 20px;
}


.profile__content{
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 25px 10px;
}

.profile__img{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.profile__img > img{
    width: 200px;
    height: 200px;
}

/* end of profile */


/* contanct */

.contact{
    width: 40%;
    margin: 20px auto 0 auto;
    height: 540px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.contact__title{
    font-family: 'Antic', sans-serif;
    font-size: 50px;
    color: #0078E7;
                                                
}


.underlined {
    position: relative;
    margin-right: 1rem;
}
.underlined:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 4px;
    width: 100%;
    border: solid 2px black;
    border-color: black transparent transparent transparent;
    border-radius: 50%;
}

.contact__form{
    width: 75%;
    
}

.contact__content{
    margin: 10px;
}

.contact__name, .contact__email, .contact__subject, .contact__message, .blog__title, .blog__summary, .blog__content{
    padding: 10px;
    border: 1px solid #0078E7;
    border-radius: 5px;
    font-family: Antic;
    width: 80%;
}



.contact__btn, .blog__btn{
    background-color: #0078E7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-family: Antic;
    font-size: 20px;
    width: 30%;

}

/* end of contact, with some blog */


/* blog */

.blog__img::-webkit-file-upload-button{
    visibility: hidden;
}

.blog__img::before{
    content: 'Upload image';
    display: inline-block;
    background-color: #0078E7;
    border-radius: 3px;
    padding: 15px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 10pt;
    color: white;
}

/* end of blog */

/* footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
    margin-top: 30px;
}

.footer__title{
    font-family: Antic;
    font-size: 50px;
    color: #0078E7;
    
}

.footer__content{
    font-family: Nunito;
    font-size: 50px;
    margin-top: 10px;
}

.footer__form{
    width: 30%;
    margin-top: 10px;
    padding: 10px;
}

hr{
    width: 80%;
    margin:auto;
    border: 1px solid #0078E7;
    font-weight: 100;
}


.footer__email{
    padding: 15px;
    margin-right: 5px;
    display: inline-block;
    width: 70%;
    border: 1px solid #0078E7;
    border-radius: 10px;
    font-family: Antic;
    font-size: 20px;

}

.footer__btn{
    background-color: #0078E7;
    color: white;
    border: none;
    border-radius: 44px;
    padding: 15px;
    font-family: Antic;
    display: inline-block;
    width: 25%;
    font-size: 20px;
}


/* end of footer */

.container{
    background-color: #F5F5F5;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card{
    width: 50%;
    margin: 15px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;

}

.card__image{
    width: 40%;
    margin-right: 10px;
}

.card__content{
    width: 60%;
}

.card__image > img{
    display: block;
    width: 100%;
    height: 265px;
    border-radius: 10px;
    object-fit: cover;
}

.card__title{
    font-family: Antic;
    margin-bottom: 15px;
    font-size: 20px;
    color: #0078E7;
}

.card__description{
    font-family: Nunito;
    margin-bottom: 15px;
}

.card--more{
    background-color: #0078E7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-family: Antic;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.intro{
    padding: 15px;
    margin-top: 20px;
    background-color: #0078E7;

}

.intro__title{
    font-family: Antic;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;

}

.intro__description{
    margin: 30px auto 60px auto;
    padding: 10px;
    font-size: 20px;
    width: 75%;
    color: white;
    font-family: Nunito;

}

.stack{
    display: flex;
    flex-direction: row;
    width: 35%;
    margin: auto;
    padding: 30px;
    position: relative;
    top: -30px;
    border-radius: 10px;
    background-color: white;
    z-index: 1;
    justify-content: space-between;
    box-shadow: 10px 10px 5px #0078E7;
    min-height: 600px;
}

.stack__designer{
    padding: 5px;
    border-right: 1px solid black;
}

.stack__full{
    padding: 5px;
}

.stack__content{
    margin: 15px;
}

.stack__title{
    font-family: Antic;
    color: #0078E7;
    text-align: center;
    margin: 5px;
    font-size: 20px;
}

.stack__description{
    margin: 15px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-family: Nunito;
}

.admin-header{
    display: flex;
    padding: 2px;
    flex-direction: row;
    justify-content: end;
}

.admin{
    width: 10%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.admin__image{
    border-radius: 50px;
    margin-right: 5px;
}

.admin__name{
    font-family: Roboto;
}

.w1{
    grid-area: links;
}

.w2{
    grid-area: body;
}


.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.left-nav{
    background-color: #0078E7;
    border-radius: 10px;
    padding: 15px;
    min-height: 800px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.nav__title{
    font-family: Antic;
    font-size: 30px;
    color: white;
    text-align: center;
}

.nav__list{
    list-style-type: none;
    position: relative;
    bottom: 475px;
}

.nav__item{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.nav__item > a{
    text-decoration: none;
    font-family: Antic;
    color: white;
}

.down{
    position: relative;
    top: 380px
}

.active{
    background-color: white;
    border-radius: 5px;
    
}

.active > a, .active > i{
    color: #0078E7;
}

.dash-title{
    background-color: #F5F5F5;
    color: #0078E7;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    
}

.dash-title > h1{
    font-family: Antic;
    font-size: 20px;
}

.dash-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    width: 60%;
}

.summary{
    background-color: #F5F5F5;
    width: 70%;
    padding: 90px;
    margin: 20px auto;
}

.summary__item{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.summary__title, .summary__value{
    font-family: Antic;
    font-size: 27px;
}

.nav__icon{
    color: white;
    margin-right: 5px;
}

.message, .blog{
    color: #0078E7;
    font-size: 60px;
}

.search{
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px 30px;
    border: 1px solid #0078E7;
}

.add-blog{
    padding: 11px 30px; 
    width: 100%;
    font-family: Antic;
    font-size: 24px;
    background-color: #0078E7;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;


}

.blog-cart{
    width: 100%;
    border-radius: 10px;
    background-color: #F5F5F5;
    margin-top: 20px;
    padding: 40px;
}

.blogs{
    width: 97%;
    border-collapse: collapse;
    font-family: Antic;
    font-size: 20px;
    background-color: white;
}

.blogs td, .blogs th{
    padding: 25px;
}

.blogs th {
    text-align: left;
    background-color: #0078E7;
    color: white;
  }

.action{
      position: relative;
  }

.more{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 5px;
    position: absolute;
    right: 90px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 30%;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
  }
  
  /* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
 
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
.modal-header {
    padding: 10px 16px;
    background-color: #0078E7;
    color: white;
    text-align: center;
    font-family: Antic;
  }
  
.modal-body {padding: 2px 16px;}

.blog-form{
      margin: auto;
      width: 80%;
      padding: 10px;
  }

.blog__field{
      margin-top: 8px;
  }

.message-cart{
      padding: 20px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      font-family: Antic;
      font-size: 24px;
      background-color: #F5F5F5;
      border-radius: 5px;
  }

.message__header, .message__content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 5px;
      padding: 5px;
  }

.message__btn{
    background-color: #0078E7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-family: Antic;
    font-size: 20px;
    width: 200px;
    cursor: pointer;
  }

.error{
      color: red;
      font-family: Antic;
  }

.fa-trash{
      color: red;
  }

.fa-pencil-square-o{
      color: dodgerblue;
  }
.action__view{
      color: green;
      font-weight: 500;
  }
.more > a{
        text-decoration: none;
 }


/* more page main */

.blog-more{
    padding: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}


.blog-title{
    font-family: Antic;
    padding: 10px;
    color: #0078E7;
    margin: 10px;
}

.blog-owner{
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 70%;
}

.blog-owner > img{
    border-radius: 50%;
    margin-right: 5px;
}

.blog-owner > span{
    font-family: Antic;
    
}

.blog-image{
    margin-top: 10px;
    width: 70%;
}

.blog-image > img{
    max-height: 340px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}


.blog-summary{
    font-family: Antic;
    padding: 10px;
    margin-top: 10px;
    width: 70%;
    font-size: 24px;
}

.blog-content{
    font-family: Nunito;
    padding: 10px;
    margin-top: 10px;
    width: 70%;
    font-size: 24px;
}

